.newsletter {
    font-family: sans-serif;
}

.outer {
    background-color: #ebebeb;
    position: absolute;
    border-radius: 5px;
}

.inner {
    margin: 5px;
}

.subheader{
    color:#000000;
    margin: 5px;
    text-align: center;
}

.title{
    color: black;
}

.link{
    color: black;
}

.link-text{
    text-decoration: none;
}

.click{
    text-decoration: none;
    color: blue;
}

.hr{
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header-pic{
    margin-left: 30%;
}

.footer{
    text-align: center;
}

.footer-img{
    margin-left: 10%;
}