.newsletter {
    font-family: sans-serif;
}

.outer {
    position: absolute;
    border-radius: 5px;
    width: 600px;
    height: 1100px;
}

.inner {
    height: 570px;
    margin: 5px;
}

.subheader{
    color:#000000;
    margin: 5px;
    text-align: center;
}

.title{
    color: black;
}

.link{
    color: black;
    text-decoration: underline;
}

.link-text{
    text-decoration: none;
}

.click{
    text-decoration: none;
    color: blue;
}

.hr{
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header-pic{
   
}

.footer{
    text-align: center;
}

.footer-img{
}

.stories{
    text-align: left;
}

.stories a{
    text-decoration: none;
    color: black;
}